#new-key {
	border-bottom: 1px solid #d5d5d5;
}

#squawk-box {
	padding: 15px 0 0 0;
}

.squawk-expiration {
	padding: 0 5px;
	font-size: 16px;
}

#buy-me-a-beer {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
